<div class="container mt-4">
  <h2>Departmentos</h2>
 
  <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn btn-secondary" (click)="goBackToList()">Atrás</button>

  <a routerLink="/departments/new" class="btn btn-primary mb-3">+ Nuevo Departmento</a>

</div>

  <table id="departmentTable" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Accones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of departments">
        <td>{{ d.name }}</td>
        <td>{{ d.location }}</td>
        <td style="white-space: nowrap; width: 1%;">
           <a [routerLink]="['/departments', d.id, 'detail']" class="btn btn-info btn-sm me-1">
              Ver detalles
            </a>
        <button class="btn btn-sm btn-primary me-1" (click)="editEmployee(d.id)">
           Editar
        </button>
        <button *ngIf="isAdmin()"  class="btn btn-sm btn-danger" (click)="deleteEmployee(d.id)">
           Eliminar
        </button>
      </td>
      </tr>
    </tbody>
  </table>
</div>